body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:40px;
background:#1e293b;
}

nav{
display:flex;
justify-content:center;
gap:20px;
background:#020617;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

section{
padding:50px;
text-align:center;
}

.skills{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin-top:20px;
}

.skills div{
background:#334155;
padding:15px;
border-radius:6px;
}

.project{
background:#1e293b;
margin:20px;
padding:20px;
border-radius:8px;
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}

input,textarea{
padding:10px;
border:none;
border-radius:4px;
}

button{
background:#22c55e;
border:none;
padding:10px;
color:white;
cursor:pointer;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}